---
fail_fast: false
repos:
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ["--format", "parsable", "--strict"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-json
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
  - repo: https://github.com/markdownlint/markdownlint
    rev: v0.12.0
    hooks:
      - id: markdownlint_docker
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
