if: tag is blank

os: linux

dist: bionic

language: python

python: 3.6.9

env:
  global:
    - TEST_PREFIX=travis-$TRAVIS_JOB_ID
    - CF_DIAL_TIMEOUT=30

before_install:
  - wget -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
  - echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
  - sudo apt-get update && sudo apt-get install -y cf-cli
  - sudo curl -s https://download.mendix.com/Mendix-CA-G2.crt -o /usr/local/share/ca-certificates/ca.crt && sudo update-ca-certificates

install:
  - make install_build_requirements install_test_requirements

before_script:
  - curl ifconfig.co/ip
  - make login

script:
  - make test &
  - MAKE_PID=$!
  - while [ -e /proc/$MAKE_PID ]; do sleep 60 && echo -n "."; done
  - sleep 15
  - wait $MAKE_PID
  - sleep 5

after_script:
  - make clean_cf

jobs:
  include:
    - stage: lint
      before_install: skip
      install: make install_lint_requirements install_build_requirements install_test_requirements
      before_script: skip
      script: make lint
      after_script: skip
    - stage: test
      env: CF_STACK=cflinuxfs3

notifications:
  email: false
