name: Deploy to Github Releases

on:
  pull_request:
    types: [closed]
    branches:
      - master
      - 'releases/**'

jobs:
  pre:
    name: Prepare workflow run
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.skip-check.outputs.should_skip }}
    steps:
      - name: Check if workflow should be skipped
        id: skip-check
        uses: fkirc/skip-duplicate-actions@v5.3.1
        with:
          github_token: ${{ github.token }}
          paths_ignore: '["**.md", "dev/**"]'
  build:
    name: Build
    needs: pre
    if: ${{ needs.pre.outputs.skip != 'true' && github.event.pull_request.merged }}
    uses: ./.github/workflows/build.yml
    with:
      skip_tests: true
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - name: Create Github release
        id: create-release
        uses: softprops/action-gh-release@v2
        if: github.event.pull_request.base.ref == 'master'
        with:
          name: "${{ needs.build.outputs.version_tag }}: ${{ github.event.pull_request.title }}"
          tag_name: ${{ needs.build.outputs.version_tag }}
          body: ${{ github.event.pull_request.body }}
          files: |
            dist/cf-mendix-buildpack.zip
          token: ${{ secrets.GITHUB_TOKEN }}
