name: Deploy to Github Releases

on:
  pull_request:
    types: [closed]
    branches:
      - master
    paths-ignore:
    - '**.md'
    - 'dev/**'

jobs:
  prepare-deployment:
    name: Prepare deployment
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged
    outputs:
      exists: ${{ steps.get-version.outputs.exists }}
      version: ${{ steps.get-version.outputs.version }}
    steps:
    - uses: actions/checkout@v2
      if: github.event.pull_request.merged
      with:
        ref: master
    - run: |
        git fetch --prune --unshallow	--tag  
    - name: Get version
      id: get-version
      run: |
        VERSION=$(cat VERSION | tr -d '\n')
        if [ $(git tag -l "${VERSION}") ]; then
          EXISTS=true
        else
          EXISTS=false
        fi
        echo "::set-output name=exists::${EXISTS}"
        echo "::set-output name=version::${VERSION}"
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: prepare-deployment
    if: ${{ needs.prepare-deployment.outputs.exists == false }}
    steps:
      - name: Download pull request artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: test.yml
          pr: ${{github.event.pull_request.number}}
          name: dist
          path: dist
      - name: Create Github release
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.prepare-deployment.outputs.version }}
          release_name: ${{github.event.pull_request.title}}
          body: ${{github.event.pull_request.body}}
          draft: true
          prerelease: false
      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: dist/cf-mendix-buildpack.zip
          asset_name: cf-mendix-buildpack.zip
          asset_content_type: application/zip
