name: Deploy to Github Releases

on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  pre:
    name: Prepare workflow run
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.skip-check.outputs.should_skip }}
    steps:
      - name: Check if workflow should be skipped
        id: skip-check
        uses: fkirc/skip-duplicate-actions@v3
        with:
          github_token: ${{ github.token }}
          paths_ignore: '["**.md", "dev/**"]'
  build:
    name: Build
    needs: pre
    if: ${{ needs.pre.outputs.skip != 'true' && github.event.pull_request.merged }}
    uses: ./.github/workflows/build.yml
    with:
      skip_tests: true
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist
      - name: Generate changelog
        id: generate-changelog
        uses: mikepenz/release-changelog-builder-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          fromTag: ${{ needs.build.outputs.current_version_tag }}
          toTag: ${{ github.base_ref }}
      - name: Create Github release
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.build.outputs.version_tag }}
          release_name: "${{ needs.build.outputs.version_tag }}: ${{ github.event.pull_request.title }}"
          body: |
            ${{ github.event.pull_request.body }}
            
            ## Changelog
            ${{ steps.generate-changelog.outputs.changelog }}
          draft: true
          prerelease: false
      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: dist/cf-mendix-buildpack.zip
          asset_name: cf-mendix-buildpack.zip
          asset_content_type: application/zip
  backmerge:
    name: "Backmerge master to development branch"
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: deploy
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: "Fast-forward merge and push"
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout develop
          git merge master --ff-only
          git push
